:root {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
  background: #f06d06;
  color: white;
  text-align: center;
  transition: background-color 1s;
}

table {
  margin: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  color: black;
}

tr>th,
tr>td {
  padding: 10px;

}

@media (max-width: 500px) {
  body {
    background-color: rebeccapurple;
    transition: background-color 1s;
  }

  table {
    margin: 0;
    border-radius: 0px;
    transition: border-radius 1s;
    padding: 0;
  }
}